# My MongoDB Project 2

### By: Kyle Killion
__Goals of the Project__:
* Load Dependencies of the Project using Python
* Connect to MySQL University DataBase
* Convert into Pandas DataFrame and/or CSVs
* __Init__ MongoDB
* Write the Data to MongoDB
* Conduct a query within MongoDB to find 
  salaries greater than the mean

In [6]:
#Load Dependencies
import pandas as pd
import pymongo as mdb
import MySQLdb
import pandas.io.sql as psql

#Establish Connection to MySQLDataBase::University
cnxn = MySQLdb.connect(host = 'localhost',
                       user = 'root',
                       passwd = input('PWD: '),
                       db = 'university')

#Get the Tables in the DB
cur = cnxn.cursor()
cur.execute("SHOW tables")
tables = cur.fetchall()

#Use Tables to Loop through and build DataFrame
df = pd.DataFrame()
for table in tables:
   
    try:
        sql = "SELECT * FROM %s" % table

        #Uncomment if you want to write all the files to your desktop
        #df = psql.read_sql(sql, cnxn)
        #df.to_csv(r'C:/Users/hb13316/Desktop/%s.csv' % table)
        
        df = df.append(psql.read_sql(sql, cnxn))
        
    except Exception as e:
        print(str(e), 'found nothing')
        pass
        
#Close Connection
cur.close()
cnxn.close()

PWD: no no no

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

# Look at the DataBase Info
<hr>

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29928 entries, 0 to 19
Data columns (total 40 columns):
Address_1       0 non-null object
Budget          0 non-null object
City_1          0 non-null object
Email           0 non-null object
F_Name          0 non-null object
ID              62 non-null object
L_Name          0 non-null object
M_Name          0 non-null object
Password        0 non-null object
State_1         0 non-null object
Status          0 non-null object
User_id         0 non-null object
Zip_1           0 non-null object
budget          7 non-null float64
building        27 non-null object
capacity        5 non-null float64
city            29738 non-null object
course_id       72 non-null object
credits         13 non-null float64
day             20 non-null object
dept_name       45 non-null object
end_hr          20 non-null float64
end_min         20 non-null float64
grade           21 non-null object
i_ID            9 non-null object
name            25 non-null object
prereq_id       7 non-null object
room_number     20 non-null object
s_ID            9 non-null object
salary          12 non-null float64
sec_id          52 non-null object
semester        52 non-null object
start_hr        20 non-null float64
start_min       20 non-null float64
state           52 non-null object
state_code      29790 non-null object
time_slot_id    35 non-null object
title           13 non-null object
tot_cred        13 non-null float64
year            52 non-null float64
dtypes: float64(10), object(30)
memory usage: 9.4+ MB

C:\Anaconda3\Lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,budget,capacity,credits,end_hr,end_min,salary,start_hr,start_min,tot_cred,year
count,7.000000,5.00000,13.000000,20.000000,20.000000,12.000000,20.000000,20.00000,13.000000,52.000000
mean,85000.000000,132.00000,3.384615,11.750000,48.000000,74833.333333,11.450000,6.00000,65.692308,2009.480769
std,22173.557826,206.92994,0.506370,2.788605,4.701623,16055.774002,2.742934,12.31174,34.649157,0.504505
min,50000.000000,10.00000,3.000000,8.000000,30.000000,40000.000000,8.000000,0.00000,0.000000,2009.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,120000.000000,500.00000,4.000000,16.000000,50.000000,95000.000000,16.000000,30.00000,120.000000,2010.000000

# MongoDB Setup and Kung Fu
<hr>
___Found this link very helpful into ensuring an operating MongoDB___:
* _http://stackoverflow.com/questions/26585433/mongodb-failed-to-connect-to-127-0-0-127017-reason-errno10061_

In [70]:
#Initialize the MongoDB Connection and database
client = mdb.MongoClient('localhost')
db = client.university

#Take my DataFrame and insert the whole thing in one go
db.university.insert_many(df.to_dict('records'))

In [81]:
#Query in MongoDB that finds all the salaries above the Mean
mongCur = db.university.aggregate([
    {'$match': {"salary":{"$gte":74833.333333}}}
    ])
            
for result in mongCur:
    print(result['name']+': ',result['dept_name'],result['salary'])

Wu:  Finance 90000.0
Einstein:  Physics 95000.0
Gold:  Physics 87000.0
Katz:  Comp. Sci. 75000.0
Singh:  Finance 80000.0
Brandt:  Comp. Sci. 92000.0
Kim:  Elec. Eng. 80000.0
Wu:  Finance 90000.0
Einstein:  Physics 95000.0
Gold:  Physics 87000.0
Katz:  Comp. Sci. 75000.0
Singh:  Finance 80000.0
Brandt:  Comp. Sci. 92000.0
Kim:  Elec. Eng. 80000.0
Wu:  Finance 90000.0
Einstein:  Physics 95000.0
Gold:  Physics 87000.0
Katz:  Comp. Sci. 75000.0
Singh:  Finance 80000.0
Brandt:  Comp. Sci. 92000.0
Kim:  Elec. Eng. 80000.0